site_name: Go Basic
site_url: https://doc.jinvic.top/go-basic
repo_url: https://github.com/Jinvic/go-basic
repo_name: Jinvic/go-basic
site_description: go basic knowledge
site_author: Jinvic

theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    # - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - awesome-pages
  - search:
      lang:
        - zh
        - en

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true  # 可选：启用更紧凑样式

extra_css:
  - css/tooltip.css
extra_javascript:
  - js/tooltip.js
